body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    /* width: 100%; */
}
/* media queries */

/* --------------- */
.my-container{
    max-width: 1450px!important;
    /* padding: 0px!important; */
   
    /* remove */
     border: 1px solid green;
}
/* slider */
.slider-wrapper{
    background: purple;
    max-height: 572px;
    /* margin: 0px; */

    /* remove */
    /* border: 1px solrgb(21, 21, 24)lue; */
}
.top-navbar{
    height: 85px;
    border: 1px solid red;
}
.slider-lead-content{
    border: 1px solid rgb(255, 0, 191);
    height: 100%;
}
.slider-heading {
    padding: 50px 0 5px 0;
    color: #1585BB;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
}
.silder-sub-heading {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
.slider-lead-image{
    padding: 0px!important;
    z-index: 1;
    /* height: 1%; */
}


/* partners */
.partners-section {
    color: black;
    border: 1px solid red;
    height: 83px;
}
.partners-image {
    border: 1px solid green;
}
/* contact-form-section */
.contact-form-section {

    /* remove */
    border: 1px solid rgb(38, 0, 255);
}
/* Left - side of a form*/
.contact-form {
    background: rgb(38, 0, 255);
    /* remove */
    border: 1px solid green;
}
.form {
    border: 1px solid #fff;
}
/* Right - side of a form */
.contact-form-media {
     color: black;
}

.media-map {
    border: 1px solid rgb(255, 0, 191);
}
.media-pattern {
    border: 1px solid red;
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {  
 
    .slider-heading {
        padding: 50px 0 5px 0;
        font-size: 30px;
        font-weight: 900;
        line-height: 30px;
    }
    .silder-sub-heading {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
    }

    /* .slider-lead-image{
        height: 50%;
    } */



}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {  
    
}
 
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    /* .slider-lead-image{
        max-height: 1000px;
    } */
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}
